@model gTravel.Models.Factor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Factor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FactorType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FactorType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Factor1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factor1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValueFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValueTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeriaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeriaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SingleItemInGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SingleItemInGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.auto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.auto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdFactor }) |
    @Html.ActionLink("Back to List", "Index")
</p>
