@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - T.I.T. insurance co</title>
    @Styles.Render("~/Content/css")
    @*<link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @*<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />*@
    @*<script src="~/Scripts/bootstrap-datepicker.js"></script>*@
    <script src="~/Scripts/bootstrap-datepicker.ru.js" charset="UTF-8"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script>

        $(function () {


            $(".date3").datepicker({
                format: "dd.mm.yyyy",
                language: "ru",
                autoclose: true
            });

            $('.tooltip-m').tooltip();


            $(".chosen-select").chosen();


        })

    </script>
</head>
<body>

    <div class="container">
        <div class="blockquote-bottom">
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Label("Пользователь:")
                    <span>&nbsp;</span>
                    @Html.ActionLink("[" + User.Identity.GetUserName() + "]", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })

                    <a href="javascript:document.getElementById('logoutForm').submit()">&nbsp;Выйти</a>

                }
            }
        </div>

        <div class="navbar navbar-default">

            <div class="navbar-header " role="navigation">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("index","home")">
                <img src="~/Content/logo-nav.png" class="title-brand" />
                    </a>
                @*@Html.ActionLink("TIT", "Index", "Home", null, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse active">
                <ul class="nav navbar-nav ">
                    <li>@Html.ActionLink("Список договоров", "Index", "Contract")</li>

                    @Html.Action("_mainMenuCreateContract","Contract")

                    @*<li>
                        @Html.ActionLink("Новый договор", "Contract_create", "Contract", new { seriaid = "d6c115e5-538e-4cca-b33f-113d12de8386" }, null)
                    </li>
                    <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Новый договор<b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                <li>

                                    @Html.ActionLink("AG", "Contract_create", "Contract", new { seriaid = "d6c115e5-538e-4cca-b33f-113d12de8386" }, null)
                                </li>
                                <li>@Html.ActionLink("Крым", "Contract_create", "Contract", new { seriaid = "5866c41d-3b1c-432a-bf26-423b860dc33b" }, null)</li>
                                <li><a href="#">TR </a></li>
                            </ul>
                        </li>*@
                    <li>@Html.ActionLink("Импорт", "import_contract", "Contract")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Отчеты<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Собранная премия", "CollectedPrem", "Report")</li>
                            <li>@Html.ActionLink("Бордеро", "Bordero", "Report")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Помощь", "Contact", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Настройки<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Агенты", "Index", "Agents")</li>
                            @*<li>@Html.ActionLink("Добавить пользователя", "Register", "Account")</li>
                            <li>@Html.ActionLink("Пользователи агента", "Index", "AgentUsers")</li>*@
                            <li>@Html.ActionLink("Валюты", "Currency", "Settings")</li>
                            <li>@Html.ActionLink("Курсы валют", "Currate", "Settings")</li>
                            <li>@Html.ActionLink("Серия", "seria", "Settings")</li>
                            <li>@Html.ActionLink("Территории", "Index", "Territories")</li>
                            <li>@Html.ActionLink("Доп параметры полиса", "ConditionSeria", "Settings")</li>
                            <li>@Html.ActionLink("Риски полиса", "Index", "RiskSerias")</li>
                            <li>@Html.ActionLink("Тариф план", "tplan", "Tarifs")</li>
                            <li>@Html.ActionLink("Тариф", "Index", "Tarifs")</li>
                            <li>@Html.ActionLink("Дополнительные справочники", "addrefs", "Settings")</li>
                        </ul>
                    </li>
                </ul>
                @using (Html.BeginForm("Index", "Contract", FormMethod.Get, new { @class = "navbar-form navbar-right", role = "поиск" }))
                {
                    <div class="form-group">
                        <input type="search" class="form-control" name="contractnumber" placeholder="Номер договора"
                               value="@ViewBag.contractnumber" />
                    </div>
                    <button type="submit" class="btn btn-default">Найти</button>
                }
                @*<form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="search" class="form-control" placeholder="Номер договора" />
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>*@
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>


        <div class="row">
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>
                        <small>
                            Текущий пользователь: @User.Identity.Name.  &copy; @DateTime.Now.Year-GoTravel dev.
                            Т.И.Т. г. Москва, 2-ой Южнопортовый проезд д.18 стр. 8, 5 этаж
                        </small>
                    </p>
                </footer>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)

    @Scripts.Render("~/Scripts/form_standart.js")
</body>
</html>
