@model IEnumerable<gTravel.Models.AgentUser>

@{
    ViewBag.Title = "Index";
    
    var agent = (gTravel.Models.Agent)ViewBag.agent;
}

<h3>@Html.ActionLink(agent.Name, "index", "Agents", new { id = agent.AgentId}, null)

</h3>

<p>
    @Html.ActionLink("Create New", "Create", new { agentid = agent.AgentId})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Agent.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Agent.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AgentUserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AgentUserId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AgentUserId })
        </td>
    </tr>
}

</table>
