@model IEnumerable<gTravel.Models.Contract>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.contractnumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_begin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_end)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_diff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seria.Code)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.contractnumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_begin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_end)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_diff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currency.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seria.Code)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContractId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContractId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContractId })
        </td>
    </tr>
}

</table>
