@model IEnumerable<gTravel.Models.Agent>

@{
    ViewBag.Title = "Index";
}

<h3>
    <a href="/Agents/Index">Агенты</a>
</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Агентский договор", "index", "AgentSerias", new { agentid = item.AgentId }, null) |
            @Html.ActionLink("Пользователи", "index", "AgentUsers", new { agentid = item.AgentId }, null) |

            @Html.ActionLink("Edit", "Edit", new { id=item.AgentId }) |
          
            
            @Html.ActionLink("Delete", "Delete", new { id=item.AgentId })
        </td>
    </tr>
}

</table>
