@model gTravel.Models.Subject

@{

    //decimal idx = ((decimal)ViewBag.sbjcount) - 1;
    int indx = Convert.ToInt32(ViewData["indx"]);
}
<tr>
    <td>
    @Html.Hidden(string.Format("Subjects[{0}].SubjectId", indx), Model.SubjectId)
        @Html.Hidden(string.Format("Subjects[{0}].ContractId", indx), Model.ContractId)

    @Html.TextBox(string.Format("Subjects[{0}].Name1", indx), Model.Name1, new { @class = "form-control input-sm input-value" })
    
     </td>
    <td>
    @Html.TextBox(string.Format("Subjects[{0}].DateOfBirth", indx), Model.DateOfBirth, new { @class = "form-control input-sm input-value date3" })
    </td>
    <td>
        @Html.TextBox(string.Format("Subjects[{0}].Pasport", indx), Model.Pasport, new { @class = "form-control input-sm input-value" })
    </td>
</tr>

