@model gTravel.Models.Subject

@{

    int indx = Convert.ToInt32(ViewData["indx"]);
    //int indx = Model.num.Value - 1;

    string insid = "ins" + Model.SubjectId;

}
<tr >

    <td>
        @*#*@

        @Html.Hidden(string.Format("Subjects[{0}].num", indx), indx)

        @*ФИО по паспорту*@
        @Html.Hidden(string.Format("Subjects[{0}].SubjectId", indx), Model.SubjectId)
        @Html.Hidden(string.Format("Subjects[{0}].ContractId", indx), Model.ContractId)

        @Html.TextBox(string.Format("Subjects[{0}].Name1", indx), Model.Name1, new { @class = "form-control input-sm input-value" })

    </td>
    <td>
        @*Пол*@

        @Html.DropDownList(string.Format("Subjects[{0}].Gender", indx), (SelectList)ViewBag.Gender, new { @class = "form-control input-sm input-value" })
    </td>
    <td>
        @*Дата рождения*@
        @Html.TextBox(string.Format("Subjects[{0}].DateOfBirth", indx), Model.DateOfBirth, new { @class = "form-control input-sm input-value date3" })
    </td>
    <td>
        @*Место рождения*@
        @Html.TextBox(string.Format("Subjects[{0}].PlaceOfBirth", indx), Model.PlaceOfBirth, new { @class = "form-control input-sm input-value" })
    </td>
    <td>
        @*Номер паспорта*@
        @Html.TextBox(string.Format("Subjects[{0}].Pasport", indx), Model.Pasport, new { @class = "form-control input-sm input-value" })
    </td>
    <td >
        @*Срок действия паспорта*@
        @Html.TextBox(string.Format("Subjects[{0}].PasportValidDate", indx), Model.PasportValidDate, new { @class = "form-control input-sm input-value date3" })

        @if(!(bool)ViewBag.viewonly)
        { 
        <a class="ins-dell" id="@insid" href="#">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
        }
    </td>
</tr>

