@model IEnumerable<gTravel.Models.ContractFactor>

@{
    int indx = 0;

    bool viewonly = (bool)ViewBag.viewonly;
}

@foreach (var item in Model)
{
    @Html.Hidden(string.Format("ContractFactors[{0}].ContractFactorId", indx), item.ContractFactorId)
    @Html.Hidden(string.Format("ContractFactors[{0}].IdFactor", indx), item.IdFactor)
    @Html.Hidden(string.Format("ContractFactors[{0}].ContractId", indx), item.ContractId)
    @Html.Hidden(string.Format("ContractFactors[{0}].Val_n", indx), item.Val_n)
    @Html.Hidden(string.Format("ContractFactors[{0}].Position", indx), item.Position)

    if (item.Factor.auto)
    {
        <div class="alert alert-success" id="alert_@item.ContractFactorId">
            @item.Factor.Name (@Html.DisplayFor(x => item.Val_n))
        </div>
    }
    else
    {
        <div class="alert alert-info alert-dismissible" id="alert_@item.ContractFactorId">

            @if(!viewonly)
            {
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            }
            
            @item.Factor.Name (@Html.DisplayFor(x => item.Val_n))
        </div>
    }

    indx++;
}


