@model gTravel.Models.Contract
@{
    ViewBag.Title = "Договор";
}

@{
    bool viewonly = false;

    if (Model.ContractStatu.Status.Readonly == 1)
    {
        viewonly = true;
    }

}

@using (Html.BeginForm("ContractCrm", null, FormMethod.Post, new { @class = "form-inline", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary();

    @Html.HiddenFor(m => Model.ContractId)
    @Html.HiddenFor(m => Model.ContractStatusId)
    @Html.HiddenFor(m => Model.seriaid)
    @Html.HiddenFor(m => Model.UserId)


    <div class="panel panel-default">
        <div class="panel-heading" style="color:#b94a48;">
            Стандартный полис страхования медицина (Крым)
            &nbsp;&nbsp;@helpers.ContractStatus(Model.ContractStatu.Status)


        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-2"><label>Дата выдачи полиса:</label></div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => Model.date_out, "{0:d}", new { @class = "form-control input-sm date3 date_period input-value", @readonly = true })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label><b>Номер:</b></label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => Model.contractnumber, new { @class = "form-control input-sm input-value", type = "tel", @readonly = true })
                </div>
            </div>

            <p></p>
            <div class="row">
                <div class="col-md-2"><label>Период страхования:</label> </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => Model.date_begin, "{0:d}", new { @class = "form-control input-sm date3 date_period input-value" })
                    <span>/</span>
                    @Html.TextBoxFor(m => Model.date_end, "{0:d}", new { @class = "form-control input-sm date3 date_period input-value" })
                    <span>
                        &nbsp;

                        <span id="period_day_count">
                            @Html.DisplayFor(m => Model.date_diff)
                        </span>
                        дня(ей)
                    </span>
                </div>
            </div>

            @*Доп параметры*@
            <p></p>
            <fieldset>
                <legend>Доп. параметры</legend>
                <div class="well well-sm">
                    @{
                             int idx = 0;

                             foreach (var item in Model.ContractConditions)
                             {

                                @helpers.BuildCond(idx, item)

                                 idx++;

                             }
                    }
                </div>
            </fieldset>


            @*//страхователь*@
            <div class="panel panel-success">
                <div class="panel-heading small">
                    Страхователь:&nbsp;&nbsp;

                    @{
    bool subj_f = Model.Subject.Type.Trim() == "fiz";
                    }
                    <label class="radio">
                        <input type="radio" name="Subject.Type"
                               @if (subj_f) {  @: checked
                                                                                                                                                                                                                                                }
                               value="fiz" />
                        физ-лицо
                    </label>
                    <label class="radio">
                        <input type="radio" name="Subject.Type"
                               @if (!subj_f) {  @: checked
                                                                                                                                                                                                                            }
                               value="jur">
                        юр-лицо
                    </label>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <label id="subj_lab_name">@( (subj_f) ? "Имя" : "Наименование"):</label>
                        </div>
                        <div class="col-md-10">
                            @Html.HiddenFor(model => Model.Holder_SubjectId)
                            @Html.TextBoxFor(model => Model.Subject.Name1, new { @class = "form-control input-sm input-value", name = "SubjectF.Name" })
                        </div>
                    </div>
                    <div id="subj_dfb" class="row" >
                        <p></p>
                        <div class="col-md-2">
                            <label>Дата рождения:</label>
                        </div>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => Model.Subject.DateOfBirth, new { @class = "form-control input-sm date3 date_period input-value" })
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-md-2">
                            <label id="subj_lab_id">@( (subj_f) ? "Паспорт" : "ИНН"):</label>
                        </div>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => Model.Subject.Pasport, new { @class = "form-control input-sm input-value" })
                        </div>
                    </div>
                    @*<p></p>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Адрес:</label>
                        </div>
                        <div class="col-md-10">
                            @Html.TextAreaFor(m => Model.Subject.Address, new { @class = "form-control input-sm input-value", style = "width:100%" })
                            <label>Телефон:</label>
                            @Html.TextBoxFor(m => Model.Subject.Phone, new { @class = "form-control input-sm input-value" })
                        </div>
                    </div>*@
                </div> @*панель страхователя*@
            </div>


            <fieldset>
                <legend>
                    <a id="btn-togle-insd" href="#" title="Свернуть\развернуть"><span id="img-togle-insd" class="glyphicon glyphicon-resize-small"></span></a>

                    Список застрахованных

                </legend>
                <div id="div-summary-insd" class="alert alert-warning hidden">
                    Всего застрахованно человек: <label>10</label>
                </div>

                <div id="div-togle-insd" class="alert alert-warning">
                    <table id="insdtable" class="table table-condensed">

                        <tbody>
                            <tr>
                                <th>ФИО по паспорту</th>
                                <th>Дата рождения</th>
                            </tr>

                            @{
                               int indx = 0;

                               foreach (var item in Model.Subjects.OrderBy(x => x.num))
                               {
                                @*@Html.Partial("_addInsuredRow", item, new ViewDataDictionary { { "indx", indx } });*@

                                @Html.Action("_edtInsuredRow", new { SubjectId = item.SubjectId, indx = indx })

                                   indx++;
                               }

                            }
                        </tbody>
                    </table>


                    @if (!viewonly)
                    {
                        <a id="insured_add" href="#">
                            <img src="~/Content/loading_white_small.gif"
                                 style="position:absolute;z-index:1000;display:none;" />

                            <span class="glyphicon glyphicon-plus-sign"></span>
                            <span style="font-weight:normal;">
                                &nbsp;Добавить застрахованного


                            </span>


                        </a>

                    }
                </div>



            </fieldset>
        
        </div>



    </div>
}


<script type="text/javascript">
    $(function () {
        $("input[name='Subject.Type']").change(function () {

            var stype = $(this).val();

            if (stype == "fiz") {
                $("#subj_lab_name").text("Имя:");
                $("#subj_dfb").show();
                $("#subj_lab_id").text("Паспорт:");
            }
            else {
                $("#subj_lab_name").text("Наименование:");
                $("#subj_dfb").hide();
                $("#subj_lab_id").text("ИНН:");
            }
        });
    })
</script>