@helper BuildCond(gTravel.Models.ContractCondition ContractCondition)
{

    <div>
        <label>@ContractCondition.Condition.Name</label>
        @if (ContractCondition.Condition.Type == "L")
        {
            @Html.CheckBoxFor(m => ContractCondition.Val_l.Value)
        }

    </div>
}

@functions
{

string get_terr_id(string id)
    {
        return "terr_" + id;
    }
}


@model gTravel.Models.Contract


@{
    ViewBag.Title = "Contract";
}




@*<p class="bg-primary">
    Стандартный полис страхования медицина/невыезд
    <div style="font-weight:bold; font-size:x-small">Дата выдачи: @DateTime.Now.ToShortDateString()</div>
</p>*@

<blockquote>
    <p>Стандартный полис страхования медицина/невыезд</p>
    <footer>Дата выдачи: @DateTime.Now.ToShortDateString()</footer>
</blockquote>



@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-inline", role = "form" }))
{
    @Html.HiddenFor(m=>Model.ContractId)

    <div class="panel panel-default">
        <div class="panel-heading">Основные сведения</div>
        <div class="panel-body">
            @*<div class="container-fluid">*@

                <div class="row">
                    <div class="col-md-2">
                        <label>Номер:</label>
                    </div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => Model.contractnumber, new { @class = "form-control input-sm input-value", type = "tel", autofocus = true })
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-2"><label>Валюта:</label></div>
                    <div class="col-md-10">

                        @Html.DropDownListFor(model => Model.currencyid, (SelectList)ViewBag.currency, new { @class = "form-control input-sm input-value" })


                    </div>
                </div>
                <p></p>

                <div class="row">
                    <div class="col-md-2"><label>Период страхования:</label> </div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => Model.date_begin, "{0:d}", new { @class = "form-control input-sm date3 date_period input-value" })

                        <span>/</span>
                        @Html.TextBoxFor(m => Model.date_end, "{0:d}", new { @class = "form-control input-sm date3 date_period input-value" })

                        <span>
                            &nbsp;

                            <span id="period_day_count">
                                @Html.DisplayFor(m => Model.date_diff)
                            </span>
                            дня(ей)
                        </span>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-2"><label>Многократная поездка:</label> </div>
                    <div class="col-md-10">
                        @Html.TextBox("period_multy", "0", new { @class = "form-control input-sm input-value" }) дней
                        <select class="form-control input-sm">
                            <option>
                                за весь период
                            </option>
                            <option>за одну поездку</option>
                        </select>
                    </div>
                </div>
        @*Доп параметры*@


@foreach (var cond in Model.ContractConditions)
{
    @Html.Hidden("ConditionId",cond.ConditionId)

    
    
     if (cond.Condition.Type == "L")
     {
         <div class="checkbox">
          <label>
     
        @cond.Condition.Name
        @Html.CheckBoxFor(m=>cond.Val_l.Value)
        
    </label>
  </div>
     }



    @*<div>
        <label>@item.Condition.Name</label>
        @if(item.Condition.Type=="L")
        {
            @Html.CheckBoxFor(m=>item.Val_l.Value)    
        }
        
    </div>*@
}
            @*</div>*@ <!--container-->
        </div> @*panel body*@




</div> <!--panel-->

    
    <div class="panel panel-info">
        <div class="panel-heading small">Территория</div>

        <div class="panel-body">
            <div class="text-info small">Выберите значение и нажмите "Добавить"</div>

            @Html.DropDownList("d_territory", (SelectList)ViewBag.territory, "", new Dictionary<string, object> { { "data-placeholder", "..." }, { "class", "form-control chosen-select" } })
            <button id="territory_add" class="btn btn-sm btn-info">Добавить</button>
            <button class="btn btn-sm btn-default">Исключая</button>
            
        </div>

        <table class="table table-condensed table-hover">


            @foreach (var item in Model.Contract_territory)
            {
                <tr>
                    <td class="input-value">

                        <input id="@get_terr_id(item.TerritoryId.ToString())" type="hidden" name="territory" value="@item.TerritoryId" />
                        @item.Territory.Name
                    </td>
                    <td>
                        <button class="btn btn-default btn-sm btn_terr_dell">x</button>
                    </td>
                </tr>
            }
            <tr id="territory_newrow"></tr>
        </table>
    </div>
    
    @*<div class="container-fluid">
        <div class="row">
            <div class="col-md-1">Территория:</div>
            <div class="col-md-11">
                
                @Html.DropDownList("territory", (SelectList)ViewBag.territory, new { @class = "chosen-select chosen-default", multiple = true })

               
            </div>
        </div>
        
       

    </div>*@




    <div class="panel-footer">
        <button class="btn-primary">Сохранить</button>
    </div>
}


<script type="text/javascript">

    $(function () {



        //добавление территоиии в грид
        $("#territory_add").click(function (e) {

            var vid = $("#d_territory").val();
            var vname = $("#d_territory_chosen a span").text();

            var terr_exist = $("#terr_" + vid).length > 0;

            if (terr_exist) {

                e.preventDefault();
                return;
            }

            if (vid != "") {


                $.ajax({
                    url: '@Url.Action("contract_terr_insert_row")',
                    data: {
                        id: vid,
                        name: vname
                    },
                    error: function (request, status, error) {
                        alert(error);
                    },
                    success: function (data) {

                        $(data).insertBefore("#territory_newrow");
                    }
                });
            }

            e.preventDefault();
        });


        $(".btn_terr_dell").click(function (e) {


            $(this).parent().parent().remove();
            e.preventDefault();
        })

        $(".date_period").change(function () {

            var d1 = $("#date_begin").val();
            var d2 = $("#date_end").val();



            $.ajax({
                url: '@Url.Action("get_strperiodday","Contract")',
                data: {
                    date_from: d1,
                    date_to: d2
                },
                error: function (request, status, error) {
                    alert(error);
                },
                success: function (data) {
                    $("#period_day_count").html(data);
                }
            });
        });

    }
  )


</script>