@model gTravel.Models.Contract


@{
    ViewBag.Title = "Contract";
}





<div>
    Стандартный полис страхования медицина/невыезд
    <div style="font-weight:bold; font-size:x-small">Дата выдачи: @DateTime.Now.ToShortDateString()</div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-inline", role = "form", autofocus = true }))
{
    @Html.HiddenFor(m=>Model.ContractId)

    <div class="panel panel-default">
        <p></p>
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-2">Номер:</div>
                <div class="col-md-10">
                @Html.TextBoxFor(model => Model.contractnumber, new { @class = "form-control input-sm", type= "tel" })
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-md-2">Валюта:</div>
                <div class="col-md-10">

                    @Html.DropDownListFor(model => Model.currencyid, (SelectList)ViewBag.currency, new { @class = "form-control input-sm" })


                </div>
            </div>
            <p></p>

            <div class="row">
                <div class="col-md-2">Период страхования:</div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => Model.date_begin, "{0:d}", new { @class = "form-control input-sm date3 date_period" })
                    
                    <span>/</span>
                    @Html.TextBoxFor(m => Model.date_end, "{0:d}", new { @class = "form-control input-sm date3 date_period" })
                    
                    <span>&nbsp;

                    <span id="period_day_count">
                        @Html.DisplayFor(m=>Model.date_diff)</span>
                     дня(ей)</span>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-md-2">Многократная поездка:</div>
                <div class="col-md-10">
                    @Html.TextBox("period_multy", "0", new { @class = "form-control input-sm" }) дней
                <select class="form-control input-sm">
                    <option>за весь период
                    </option>
                    <option>за одну поездку</option>
                </select>
            </div>
        </div>


    </div> <!--container-->
    <p> </p>



</div> <!--panel-->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">Территория:</div>
            <div class="col-md-11">
                
                @Html.DropDownList("territory", (SelectList)ViewBag.territory, new { @class = "chosen-select chosen-default", multiple = true })

                @*@Html.DropDownListFor(m => Model.Contract_territory, (SelectList)ViewBag.territory, new { @class = "chosen-select chosen-default", multiple = true })*@
            </div>
        </div>
        
       

    </div>




    <div class="panel-footer">
        <button class="btn-primary">Сохранить</button>
    </div>
}



<script type="text/javascript">


    $(function () {
       
        $(".date_period").change(function () {
           
            var d1 = $("#date_begin").val();
            var d2 = $("#date_end").val();

    
            $.ajax({
                url: '@Url.Action("get_strperiodday")',
                data: {
                    date_from: d1,
                    date_to: d2
                },
                success: function (data) {
                    $("#period_day_count").html(data);
                }
            });
        });

    }
    )

</script>
