@helper BuildCond(int idx, gTravel.Models.ContractCondition cond)
{
    @*@Html.CheckBox("cond_" + code.Trim(), istrue)*@
    @Html.Hidden("ContractConditions[" + idx.ToString() + "].ContractCondId", cond.ContractCondId)
    @Html.Hidden("ContractConditions[" + idx.ToString() + "].ConditionId", cond.ConditionId.Value)
    @Html.Hidden("ContractConditions[" + idx.ToString() + "].Contractid", cond.Contractid)
    <div class="checkbox">
        <label>
            @Html.CheckBox("ContractConditions[" + idx.ToString() + "].Val_l", cond.Val_l.Value)
            @cond.Condition.Name
        </label>
    </div>
}

@helper hRiskName(gTravel.Models.v_contractrisk r, int idx = 0)
{

    if (r.isMandatory)
    {
        <span>@r.Name</span>
    }
    else
    {
        <div class="checkbox">
            <label>
                <input type="checkbox" class="risk-on"> @r.Name
            </label>
        </div>
    }
}



@functions
{

    string get_terr_id(string id)
    {
        return "terr_" + id;
    }
}
@model gTravel.Models.Contract
@{
    ViewBag.Title = "Contract";
}
@*<p class="bg-primary">
        Стандартный полис страхования медицина/невыезд
        <div style="font-weight:bold; font-size:x-small">Дата выдачи: @DateTime.Now.ToShortDateString()</div>
    </p>*@
<blockquote>
    <p>Стандартный полис страхования медицина/невыезд</p>
    <footer>Дата выдачи: @DateTime.Now.ToShortDateString()</footer>
</blockquote>
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-inline", role = "form" }))
{

    @Html.HiddenFor(m => Model.ContractId)
    //Основные сведения
    <div class="panel panel-default">
        <div class="panel-heading">Основные сведения</div>
        <div class="panel-body">
            @*<div class="container-fluid">*@
            <div class="row">
                <div class="col-md-2">
                    <label><b>Номер:</b></label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => Model.contractnumber, new { @class = "form-control input-sm input-value", type = "tel", autofocus = true })
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-md-2"><label>Валюта:</label></div>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => Model.currencyid, (SelectList)ViewBag.currency, new { @class = "form-control input-sm input-value" })
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-md-2"><label>Период страхования:</label> </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => Model.date_begin, "{0:d}", new { @class = "form-control input-sm date3 date_period input-value" })
                    <span>/</span>
                    @Html.TextBoxFor(m => Model.date_end, "{0:d}", new { @class = "form-control input-sm date3 date_period input-value" })
                    <span>
                        &nbsp;

                        <span id="period_day_count">
                            @Html.DisplayFor(m => Model.date_diff)
                        </span>
                        дня(ей)
                    </span>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-md-2"><label>Многократная поездка:</label> </div>
                <div class="col-md-10">
                    @Html.TextBox("period_multy", "0", new { @class = "form-control input-sm input-value" }) дней
                    <select class="form-control input-sm">
                        <option>
                            за весь период
                        </option>
                        <option>за одну поездку</option>
                    </select>
                </div>
            </div>
            @*Доп параметры*@
            <p></p>
            <div class="panel panel-default" style="padding:5px;">
                @{
    int idx = 0;
    foreach (var item in Model.ContractConditions)
    {


        if (item.Condition.Type == "L")
        {
            @BuildCond(idx, item)
        }
        idx++;

        <br />
    }
                }
            </div>
            @*</div>*@ <!--container-->
        </div> @*panel body*@
    </div> <!--panel-->

    //территория
    <div class="panel panel-info">
        <div class="panel-heading small">Территория</div>
        <div class="panel-body">
            <div class="text-info small">Выберите значение и нажмите "Добавить"</div>
            @Html.DropDownList("d_territory", (SelectList)ViewBag.territory, "", new Dictionary<string, object> { { "data-placeholder", "..." }, { "class", "form-control chosen-select" } })
            <button id="territory_add" class="btn btn-sm btn-info">Добавить</button>
            <button class="btn btn-sm btn-default">Исключая</button>
        </div>
        <table class="table table-condensed table-hover">
            @{
    int indx = 0;
    foreach (var item in Model.Contract_territory)
    {

        @Html.Partial("contract_terr_insert_row", item, new ViewDataDictionary { { "indx", indx } })

        indx++;

    }
            }
            <tr id="territory_newrow"></tr>
        </table>
    </div>


    //Риски
    <div class="panel panel-primary">
        <div class="panel-heading small">Риски</div>

        <table class="table table-condensed table-hover">
            <tr>
                <th>Риск</th>
                <th>Страховая сумма</th>
                <th>Франшиза</th>
                <th>Тариф базовый</th>
                <td>Тариф СК</td>
            </tr>
            @{

    idx = 0;

    foreach (var item in (IEnumerable<gTravel.Models.v_contractrisk>)ViewBag.risklist)
    {
        <tr id="ddd@{@idx}">
            <td>
                @Html.Hidden(string.Format("ContractRisk[{0}].ContractRiskId", idx), item.ContractRiskId)
                @Html.Hidden(string.Format("ContractRisk[{0}].ContractId", idx), item.ContractId)
                @Html.Hidden(string.Format("ContractRisk[{0}].RiskId", idx), item.RiskId)

                @hRiskName(item)
            </td>
            <td>
                @Html.TextBox(string.Format("ContractRisk[{0}].InsSum", idx), item.InsSum, new { @class = "form-control input-sm input-value risk-control" })
            </td>
            <td>
                0
            </td>
            <td>
                0
            </td>
            <td>
                0
            </td>
        </tr>
        idx++;
    }
            }


        </table>

    </div>


    //страхователь
    <div class="panel panel-success">
        <div class="panel-heading small">
            Страхователь:&nbsp;&nbsp;

            @{
    bool subj_f = Model.Subject.Type.Trim() == "fiz";
            }
            <label class="radio">
                <input type="radio" name="Subject.Type"
                       @if (subj_f) {  @: checked
                                                                                                                                                                                                                 }
                       value="fiz" />
                физ-лицо
            </label>
            <label class="radio">
                <input type="radio" name="Subject.Type"
                       @if (!subj_f) {  @: checked
                                                                                                                                                                                             }
                       value="jur">
                юр-лицо
            </label>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <label id="subj_lab_name">@( (subj_f) ? "Имя" : "Наименование"):</label>
                </div>
                <div class="col-md-10">
                    @Html.HiddenFor(model => Model.SubjectId)

                    @Html.TextBoxFor(model => Model.Subject.Name1, new { @class = "form-control input-sm input-value", name = "SubjectF.Name" })
                </div>
            </div>

            <div id="subj_dfb" class="row" style="display:none;">
                <p></p>
                <div class="col-md-2">
                    <label>Дата рождения:</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => Model.Subject.DateOfBirth, new { @class = "form-control input-sm date3 date_period input-value" })
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-md-2">
                    <label id="subj_lab_id">@( (subj_f) ? "Паспорт" : "ИНН"):</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => Model.Subject.Pasport, new { @class = "form-control input-sm input-value" })
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-md-2">
                    <label>Адрес:</label>
                </div>
                <div class="col-md-10">
                    @Html.TextAreaFor(m => Model.Subject.Address, new { @class = "form-control input-sm input-value", style = "width:100%" })
                    <label>Телефон:</label>
                    @Html.TextBoxFor(m => Model.Subject.Phone, new { @class = "form-control input-sm input-value" })
                </div>
            </div>
        </div> @*панель страхователя*@
    </div>

//Список застрахованных
    <div class="panel panel-success">
        <div class="panel-heading small">
            Список застрахованных:&nbsp;&nbsp;
            <a id="insured_add" href="#"><span class="glyphicon glyphicon-plus-sign"></span><span style="font-weight:normal;">Добавить застрахованного</span> </a>



            @*<a href="/Contract/_addInsuredRow?contractid=@Model.ContractId"
                   data-ajax-update="#insured_newrow"
                   data-ajax-mode="before"
                   data-ajax-method="POST"
                   data-ajax="true"><span class="glyphicon glyphicon-plus-sign"></span>Новый</a>

                &nbsp;

                <a href="/Contract/_addInsuredRow?contractid=@Model.ContractId"
                   data-ajax-update="#insured_newrow"
                   data-ajax-mode="before"
                   data-ajax-method="POST"
                   data-ajax="true"><span class="glyphicon glyphicon-user"></span>Страхователь</a>*@

            @*@Ajax.ActionLink("Новый", "_addInsuredRow",new {contractid = Model.ContractId},
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.InsertBefore,
                    HttpMethod = "POST",
                    UpdateTargetId = "insured_newrow"

                })*@


        </div>
        <table id="insdtable" class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Дата рождения</th>
                    <th>Паспорт</th>
                </tr>
            </thead>
            <tbody>
                @{
indx = 0;

foreach (var item in Model.Subjects)
{
    @Html.Partial("_addInsuredRow", item, new ViewDataDictionary { { "indx", indx } });

                                                                                      indx++;
}

                }
            </tbody>
        </table>
    </div>

    @*<div class="container-fluid">
            <div class="row">
                <div class="col-md-1">Территория:</div>
                <div class="col-md-11">

                    @Html.DropDownList("territory", (SelectList)ViewBag.territory, new { @class = "chosen-select chosen-default", multiple = true })


                </div>
            </div>



        </div>*@


    <div class="panel-footer">
        <button class="btn-primary">Сохранить</button>
    </div>
}
<script type="text/javascript">



    $(function () {

        $("#insured_add").click(function (e) {


            $.ajax({
                url: '@Url.Action("_addInsuredRow")',
                data: {
                    contractid: '@Model.ContractId'
                },
                error: function (request, status, error) {
                    alert(error);
                },
                success: function (data) {

                    $(data).insertAfter("#insdtable >tbody>tr:last");
                }
            });

            e.preventDefault();
        });

        $("input[name='Subject.Type']").change(function () {

            var stype = $(this).val();

            if (stype == "fiz") {
                $("#subj_lab_name").text("Имя:");
                $("#subj_dfb").show();
                $("#subj_lab_id").text("Паспорт:");
            }
            else {
                $("#subj_lab_name").text("Наименование:");
                $("#subj_dfb").hide();
                $("#subj_lab_id").text("ИНН:");
            }
        });

        //добавление территоиии в грид
        $("#territory_add").click(function (e) {

            var vid = $("#d_territory").val();
            var vname = $("#d_territory_chosen a span").text();

            var terr_exist = $("#terr_" + vid).length > 0;

            if (terr_exist) {

                e.preventDefault();
                return;
            }

            if (vid != "") {


                $.ajax({
                    url: '@Url.Action("contract_terr_insert_row")',
                    data: {
                        id: vid,
                        name: vname,
                        contractid: '@Model.ContractId'
                    },
                    error: function (request, status, error) {
                        alert(error);
                    },
                    success: function (data) {

                        $(data).insertBefore("#territory_newrow");
                    }
                });
            }

            e.preventDefault();
        });


        $(".btn_terr_dell").click(function (e) {


            $(this).parent().parent().remove();
            e.preventDefault();
        })

        $(".date_period").change(function () {

            var d1 = $("#date_begin").val();
            var d2 = $("#date_end").val();



            $.ajax({
                url: '@Url.Action("get_strperiodday","Contract")',
                data: {
                    date_from: d1,
                    date_to: d2
                },
                error: function (request, status, error) {
                    alert(error);
                },
                success: function (data) {
                    $("#period_day_count").html(data);
                }
            });
        });

        $(".risk-on").change(function (e) {
            $(this).each( function( index, element)
            {
                $(element).css("backgroundColor", "yellow");
            });
        })


    }
  )


</script>
