@helper BuildCond(int idx, gTravel.Models.ContractCondition cond)
{

    @*@Html.CheckBox("cond_" + code.Trim(), istrue)*@
    @Html.Hidden("ContractConditions[" + idx.ToString() + "].ContractCondId", cond.ContractCondId)
    @Html.Hidden("ContractConditions[" + idx.ToString() + "].ConditionId", cond.ConditionId.Value)
    @Html.Hidden("ContractConditions[" + idx.ToString() + "].Contractid", cond.Contractid)

    switch (cond.Condition.Type)
    {
        case "L":
            <div class="checkbox">
                <label>
                    @Html.CheckBox("ContractConditions[" + idx.ToString() + "].Val_l", cond.Val_l.Value)
                    @cond.Condition.Name
                </label>
            </div>
            break;
        case "C":
        <div class="row">
            <div class="col-md-2">
                <label>@cond.Condition.Name:</label>
            </div>
            <div class="col-md-10">
                @Html.TextBox("ContractConditions[" + idx.ToString() + "].Val_c", cond.Val_c, new { @class = "form-control input-sm input-value" })
                
            </div>
        </div>
            break;
    }


}

@model gTravel.Models.Contract
@{
    ViewBag.Title = "Contract";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-inline", role = "form" }))
{

    @Html.HiddenFor(m => Model.ContractId)
    <div class="panel panel-default">
        <div class="panel-heading" style="color:darkslategray;">Стандартный полис страхования медицина/невыезд</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <label><b>Номер:</b></label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => Model.contractnumber, new { @class = "form-control input-sm input-value", type = "tel", autofocus = true })
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-md-2"><label>Валюта:</label></div>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => Model.currencyid, (SelectList)ViewBag.currency, new { @class = "form-control input-sm input-value" })
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-md-2"><label>Период страхования:</label> </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => Model.date_begin, "{0:d}", new { @class = "form-control input-sm date3 date_period input-value" })
                    <span>/</span>
                    @Html.TextBoxFor(m => Model.date_end, "{0:d}", new { @class = "form-control input-sm date3 date_period input-value" })
                    <span>
                        &nbsp;

                        <span id="period_day_count">
                            @Html.DisplayFor(m => Model.date_diff)
                        </span>
                        дня(ей)
                    </span>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-md-2"><label>Многократная поездка:</label> </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => Model.period_multi, new { @class = "form-control input-sm input-value" })  дней

                    @Html.DropDownListFor(m => Model.period_multi_type, (SelectList)ViewBag.PeriodMultiType, new { @class = "form-control input-sm input-value" })

                </div>
            </div>
            @*Доп параметры*@
            <p></p>
            <div class="panel panel-default" style="padding:5px;">
                @{
    int idx = 0;
    foreach (var item in Model.ContractConditions)
    {
        @BuildCond(idx, item)

        idx++;

        <br />
    }
                }
            </div>
        </div>

        <div class="panel-footer">
            <button class="btn btn-primary">Сохранить</button>
        </div>
    </div>


}

<script type="text/javascript">
    $(function () {

        //изменение периода
        $(".date_period").change(function () {

            var d1 = $("#date_begin").val();
            var d2 = $("#date_end").val();



            $.ajax({
                url: '@Url.Action("get_strperiodday","Contract")',
                data: {
                    date_from: d1,
                    date_to: d2
                },
                error: function (request, status, error) {
                    alert(error);
                },
                success: function (data) {
                    $("#period_day_count").html(data);
                }
            });
        });
    })

</script>
