@using PagedList.Mvc;
@using PagedList; 

@model PagedList.PagedList<gTravel.Models.v_contract>
@{
    ViewBag.Title = "Список договоров";
}
<h3>@ViewBag.Title </h3>

@if (!string.IsNullOrEmpty((string)ViewBag.filtr))
{
    <div class="alert alert-info">
        Установлен фильтр: @ViewBag.filtr
        <br />
        <a href=@Url.Action("index")> <span class="glyphicon glyphicon-remove-circle"></span> сбросить</a>

 
    </div>
}


<p>
    @Html.ActionLink("Новый договор", "Contract_Create", new { seriaid = @ViewBag.seria })
</p>

<div class="row">
    <div class="col-md-11"></div>
    <div class="col-md-1">
        <abbr title="Количество записей">
            <span class="badge" style="margin-bottom:3px;">@Model.TotalItemCount</span>
        </abbr> 
    </div>
</div>


<table class="table table-hover">
    <tr>
        <th>
            Номер
        </th>
        <th>
            Дата выдачи
        </th>
        <th>
            Период
        </th>
        <th>Территория</th>
        <th>
            <span class="tooltip-m" data-toggle="tooltip" data-placement="top" title="Количество застрахованных">Кол-во...</span>

        </th>
        <th>Премия</th>
        <th>
            Премия, руб
        </th>

        <th>Статус</th>
        <th>Пользователь</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.contractnumber
            </td>
            <td>
                @Html.DisplayFor(m => item.date_out, "_edate")
            </td>
            <td>
                @Html.DisplayFor(m => item.date_begin, "_edate") - @Html.DisplayFor(m => item.date_end, "_edate")
                @*@item.date_begin.Value.ToShortDateString() - @item.date_end.Value.ToShortDateString()*@
                (@item.date_diff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.terr_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subject_count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsPrem)
                @Html.DisplayFor(modelItem => item.curr_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsPremRur)
            </td>

            <td>
                @Html.DisplayFor(m => item.status_name)
            </td>
            <td>
                @Html.DisplayFor(m => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Contract_edit", new { id = item.ContractId }) |
                @Html.ActionLink("Печать", "printpdfch", new { contractid = item.ContractId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ContractId })
            </td>
        </tr>
    }
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))

