@model IEnumerable<gTravel.Models.v_contract>
@{
    ViewBag.Title = "Список договоров";
}
<h3>@ViewBag.Title</h3>
<p>
    @Html.ActionLink("Новый договор", "Contract_Create", new { seriaid = @ViewBag.seria })
</p>
<table class="table table-hover">
    <tr>
        <th>
            Номер
        </th>
        <th>
            Дата выдачи
        </th>
        <th>
            Период
        </th>
        <th>Территория</th>
        <th>
            <span class="tooltip-m" data-toggle="tooltip" data-placement="top" title="Количество застрахованных">Кол-во...</span>

        </th>
        <th>
            Валюта
        </th>

        <th>Статус</th>
        <th>Пользователь</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.contractnumber
            </td>
            <td>
                @Html.DisplayFor(m => item.date_out, "_edate")
            </td>
            <td>
                @Html.DisplayFor(m => item.date_begin, "_edate") - @Html.DisplayFor(m => item.date_end, "_edate")
                @*@item.date_begin.Value.ToShortDateString() - @item.date_end.Value.ToShortDateString()*@
                (@item.date_diff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.terr_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subject_count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.curr_code)
            </td>

            <td>
                @Html.DisplayFor(m => item.status_name)
            </td>
            <td>
                @Html.DisplayFor(m => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Contract_edit", new { id = item.ContractId }) |
                @Html.ActionLink("Печать", "printpdfch", new { contractid = item.ContractId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ContractId })
            </td>
        </tr>
    }
</table>
