@model IEnumerable<gTravel.Models.spMonthPrem_Result1>


@{
    ViewBag.Title = "Отчеты за прошедший период";
}

<h3>@ViewBag.Title</h3>

<p>
    &nbsp;
</p>

@*<div class="list-group">



            @foreach (var item in Model)
            {
                @Html.ActionLink(item.mname +" "+ item.y + " (" + item.prem + " руб)", "xlsActPrem", new { month = item.m, year = item.y }, new { @class = "list-group-item" })


            }

    </div>*@

<table class="table">

    <tr>
        <th>Период</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.mname @item.y (@item.prem  руб)
            </td>
            <td>

                @Html.ActionLink("Акт выполненных работ", "xlsActPrem", new { month = item.m, year = item.y }, new {@class="btn btn-default" })



                @Html.ActionLink("Бордеро", "xlsActPrem", new { month = item.m, year = item.y,type=2 }, new { @class = "btn btn-default" })



            </td>
        </tr>
    }
</table>


