@model gTravel.Servises.RepAgentsQuery


@{
    ViewBag.Title = "Отчеты агентов";
}

<h3>@ViewBag.Title</h3>
<hr />

@using (Html.BeginForm("RepAgentsQue", null, FormMethod.Post, new { @class = "form-inline", role = "form", id = "form01" }))
{
    @Html.Hidden("action")
    
    <div class="row">

        <div class="col-lg-4">
            <div id="Agentsearch" class="input-group" style="margin-bottom:2px; ">
                <input type="text" class="form-control" placeholder="поиск...">
                @*<span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>*@
            </div>

            <br />

         
            @Html.ListBox("Agents", null, new { @class = "form-control", style = "height:400px; ",Multiple="none"})

        </div>

        <div class="col-lg-8">

            <div class="panel panel-default">
                <div class="panel-heading">Отчетный период</div>
                <div class="panel-body">
                    c: @Html.TextBoxFor(model => Model.d1, new { @class = "form-control date3" })


                    по:
                    @Html.TextBoxFor(model => Model.d2, new { @class = "form-control date3" })
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Отчеты</div>
                <div class="panel-body">



                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation">
                            <a class="runreport" id="ActClosedWork" href="#">Акт выполненных работ</a>
                        </li>
                        <li role="presentation">
                            <a class="runreport" id="bordero" href="#">Бордеро агента</a>
                        </li>
                        <li role="presentation"><a href="#">Отчет о зарплате агентов</a></li>
                    </ul>


                </div>
            </div>






        </div>
    </div>

}


<script type="text/javascript">

    function agent_search() {
        var field = $('#Agents').find('option');
        var tval = $('#Agentsearch input').val();

        var q = new RegExp(tval, 'ig');

        for (var i = 0, l = field.length; i < l; i += 1) {
            var option = $(field[i]),
                parent = option.parent();

            if ($(field[i]).text().match(q)) {
                if (parent.is('span')) {
                    option.show();
                    parent.replaceWith(option);
                }
            } else {
                if (option.is('option') && (!parent.is('span'))) {
                    option.wrap('<span>').hide();
                }
            }
        }
    }

    function setagentwidth() {

        var panelwidtn = $("#Agents").innerWidth();
        $("#Agentsearch").innerWidth(panelwidtn);

    }

    $(function () {

        setagentwidth();

        $('#Agentsearch input').change(function () {
            agent_search()
        });

        $('#Agentsearch input').bind('keyup', function () {

            agent_search()
        });


        $(".runreport").click(function (e) {

    
            if ($("#Agents").val() != null)
            {
                $("#action").val(this.id);

                var sss = $("#action").val();


                $("form").submit();

            } else
            {
                alert("Не выбран агент!");
}

            e.preventDefault();
        });

    })
</script>