@model gTravel.Models.Tarif

@{
    ViewBag.Title = "Create";

    var agentser = (gTravel.Models.AgentSeria)ViewBag.agentseria;
}

<h3>@agentser.Agent.Name (@agentser.seria.Code)</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => Model.TarifId)
    @Html.HiddenFor(m => Model.AgentSeriaId)

    <div class="form-horizontal">
        <h4>Tarif</h4>
        @Html.ValidationSummary()
        <hr />

        <div class="form-group">
            @Html.Label("Риск", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RiskId", null, htmlAttributes: new { @class = "form-control" })

            </div>
        </div>


        @*<div class="form-group">
                @Html.LabelFor(model => model.TerritoryId, "TerritoryId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("TerritoryId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TerritoryId, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group form-group-sm">
            @Html.Label("Период", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PeriodFrom, new { htmlAttributes = new { @class = "form-control", @list = "periodlist" } })
  
                @Html.EditorFor(model => model.PeriodTo, new { htmlAttributes = new { @class = "form-control", @list = "periodlist" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Страх сумма от", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InsSumFrom, new { htmlAttributes = new { @class = "form-control", @list = "isslist" } })

            </div>
        </div>

        <datalist id="isslist">
            <option value="5000"></option>
            <option value="15000"></option>
            <option value="30000"></option>
            <option value="50000"></option>
        </datalist>


        <div class="form-group">
            @Html.Label("Страх сумма до", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InsSumTo, new { htmlAttributes = new { @class = "form-control", @list = "isslist" } })

            </div>
        </div>

        <div class="form-group form-group-sm alert alert-info">
            @Html.Label("Премия", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 active">
                @Html.EditorFor(model => model.PremSum, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>


        <div class="form-group">
            @Html.Label("Франшиза от", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FranshSum, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>

        <div class="form-group">
            @Html.Label("Франшиза до", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FranshPerc, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>

        <div class="form-group form-group-sm alert alert-info">
            @Html.Label("Премия", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 active">
                @Html.EditorFor(model => model.PremSum, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>



        <div class="form-group">
            @Html.Label("Вознаграждение IC", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InsFee, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                <button name="editaction" type="submit" value="SaveCopy" class="btn btn-default">Save And Copy</button>

            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
