@model IEnumerable<gTravel.Models.Tarif>

@{
    ViewBag.Title = "Index";

    var agetseria = (gTravel.Models.AgentSeria)ViewBag.agentseria;
    
    }

<h3>

    @Html.ActionLink(agetseria.Agent.Name, "index", "AgentSerias", new { agentid = agetseria.AgentId }, null)
    (@agetseria.seria.Code)


</h3>

<p>
    @Html.ActionLink("Create New", "Create", new {agentseriaid = agetseria.AgentSeriaId })
</p>
<table class="table">
    <tr>
        <th>
           Риск
        </th>
        <th>
            Период
        </th>
        <th>
            Стр сумма от
        </th>
        <th>
            Стр сумма до
        </th>
        <th>
            Франшиза от
        </th>
        <th>
            Франшиза до
        </th>
        <th>
            Премия
        </th>
        <th>
            IC
        </th>

        <th>
            Территория
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Risk.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodFrom)
            -
            @Html.DisplayFor(modelItem => item.PeriodTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsSumFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsSumTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FranshSum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FranshPerc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PremSum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsFee)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Territory.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TarifId }) |
            @Html.ActionLink("Copy", "Copy", new { id=item.TarifId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TarifId })
        </td>
    </tr>
}

</table>
