@model IEnumerable<gTravel.Models.RiskSeria>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Серия
        </th>
        <th>
            Риск
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isMandatory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sort)
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.seria.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Risk.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isMandatory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sort)
        </td>


        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RiskSeriaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RiskSeriaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RiskSeriaId })
        </td>
    </tr>
}

</table>
