@model IEnumerable<gTravel.Models.ConditionSeria>

@{
    ViewBag.Title = "Condition Seria";
}

<h2>Condition Seria</h2>

<p>
    @Html.ActionLink("Create New", "ConditionSeriaCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Condition.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seria.Code)
        </th>
        <th>
            Num
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Condition.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seria.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.num)
        </td>
        <td>
            @Html.ActionLink("Delete", "ConditionSeriaDelete", new { id = item.ConditionSeriaId })
        </td>
    </tr>
}

</table>
