@model gTravel.Models.RiskSeria

@{
    ViewBag.Title = "Риск - серия";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RiskSeriaId)

        <div class="form-group">
           @Html.LabelFor(model => model.SeriaId, "Серия", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idSeria", (SelectList)ViewBag.serias, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SeriaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RiskId, "Риск", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idRisk",(SelectList)ViewBag.risks, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RiskId, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.isMandatory, "Обязателен", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(x=>x.isMandatory,new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.isMandatory, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.sort, "Сортировка", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.sort, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.sort, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
